
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Inter', sans-serif;

}
main {
    height: 100%;
    background-color: #fa8128;
}
/* HÄR ÄR HERO */
.hero-image {
    background: url(./images/orange-tree.jpeg);
    background-size: cover;
    height: 600px;
    background-repeat: no-repeat;
    bottom: 0;
    position: relative;
}

.hero-text {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 5rem 2rem;
    text-align: center;
    color: bisque;
}

h1 {
    font-size: 5rem;
    font-weight: 900;
    margin-bottom: 2rem;
}

h2 {
    font-size: 2rem;
}

.italic {
    font-style: italic;
    font-weight: 500;
    font-size: 1.5rem;
    padding-top: 2rem;
}

/* HÄR ÄR FORMULÄRET */
.container-box {
    background-color: bisque;
    margin: 0 9rem 2rem;
    padding: 1rem;
    border-radius: 1rem;
}

fieldset {
    border: none;
}

.place-your-order {
    font-size: 2rem;
    font-weight: 700;
    text-align: center;
    padding: 1rem;
    color: bisque;
}

.form-area {
    margin-bottom: 2rem;
}

input {
    display: flex;
    padding: 10px;
    font-size: 1rem;
}
/* CHECKBOXES */
.checkbox-container {
    display: block;
    position: relative;
    padding-left: 25px;
    margin: 10px 5px;
    font-size: 16px;
    user-select: none;

}
.checkbox-container input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
}
.custom-checkbox {
    position: absolute;
    top: 0;
    left: 0;
    height: 19px;
    width: 19px;
    background-color: #facba9;
    border-radius: 4px;
    cursor: pointer;
}
.checkbox-container:hover input ~ .custom-checkbox {
    background-color: #f9a264;
}
.checkbox-container input:checked ~.custom-checkbox {
    background-color: #fa8128;
}
.custom-checkbox:after {
    content: ""; 
    position: absolute;
    width: 5px;
    height: 9px;
    border: solid bisque;
    border-width: 0 3px 3px 0;
    top: 2px;
    left: 5.5px;
    transform: rotate(45deg);
    display: none;
}
.checkbox-container input:checked ~.custom-checkbox:after {
    display: block;
}
.checkbox-container input:focus + .custom-checkbox {
    outline: #fa8128 auto 4px;
}


.radio-option input {
    display: inline;
}

textarea {
    display: block;
    width: 100%;
    padding: 10px;
    font-size: 1rem;
}

footer {
    background-color: #fa8128;
    text-align: center;
    padding: 2rem;
}
